.wfco-connector-btns a {
    outline: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}

/* forms */
.wfco_vue_forms .form-group {
    margin: 0 0 15px 0
}

.wfco_vue_forms .errors.help-block {
    margin-top: 5px;
}

.wfco_vue_forms .error {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.wfco_vue_forms .form-group label {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    display: block;
    margin-bottom: 7px;
}

.wfco_vue_forms .form-group input[type='text'], .wfco_vue_forms .form-group input[type='number'], .wfco_vue_forms .form-group textarea, .wfco_vue_forms .form-group select, .wfco_vue_forms .form-group textarea {
    font-size: 16px;
    line-height: 24px;
    color: #444;
    padding: 9px 12px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: none;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.wfco_vue_forms .form-group.error input[type='text'], .wfco_vue_forms .form-group.error input[type='number'], .wfco_vue_forms .form-group.error textarea, .wfco_vue_forms .form-group.error select, .wfco_vue_forms .form-group.error textarea {
    border-color: #dc3232;
}

.wfco_vue_forms .form-group.error {
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
    border: none;
}

.wfco_vue_forms .form-group label span.help {
    margin-left: .3em;
    position: relative
}

.wfco_vue_forms .form-group label span.help .icon {
    display: inline-block;
    font-size: 16px;
    font-family: 'dashicons';
    font-style: normal;
    color: #666;
    position: absolute;
    top: 0px;
}

.wfco_vue_forms .form-group label span.help .icon:before {
    content: "\f223";
}

.wfco_vue_forms .form-group label span.help .helpText {
    background-color: #444;
    bottom: 30px;
    color: #fff;
    display: block;
    left: 0;
    opacity: 0;
    padding: 10px 15px;
    pointer-events: none;
    position: absolute;
    text-align: justify;
    width: 300px;
    transition: all .25s ease-out;
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font-size: 11px;
    line-height: 18px;
    z-index: 10;
}

.wfco_vue_forms .form-group label span.help .helpText a {
    font-weight: 700;
    text-decoration: underline
}

.wfco_vue_forms .form-group label span.help .helpText:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%
}

.wfco_vue_forms .form-group label span.help:hover .helpText {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0)
}

.wfco_vue_forms .form-group.wfco_form_button .field-wrap label {
    display: inline-block;
    background: #ccc;
    color: #fff;
    padding: 10px 25px;
    margin-right: 15px
}

.wfco_vue_forms .form-group.wfco_form_button .field-wrap label input {
    position: absolute;
    visibility: hidden;
    display: none
}

.wfco_vue_forms .form-group.wfco_form_button .field-wrap label.is-checked {
    background: #9a929e;
}

.iziModal .iziModal-button-close:hover {
    transform: none;
}

.iziModal-content .wfco_form_submit {
    text-align: right;
    margin-top: 15px;
}

.iziModal:not(.wfco_success_modal) .iziModal-header .iziModal-header-title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.wfco_success_modal.iziModal {
    left: auto;
}

.ajax_loader_show {
    visibility: visible
}

.wfco_clearfix:before {
    display: table;
    content: '';
}

.wfco_clearfix:after {
    display: table;
    content: '';
    clear: both;
}

.wfco-instance-table tr#column-quick_links {
    width: 20%;
}

/* listing */
.wrap.wfco_global {
    margin-top: 30px;
    /*margin-right: 2px;*/
}

.wfco_head_bar {
    background: #fff;
    padding: 20px;
}

.wfco_head_bar .wfco_bar_head {
    font-size: 26px;
    line-height: 1;
    display: inline-block;
    color: #666;
    padding-right: 15px;
}

.iziModal-content .sections {
    padding: 20px;
}

.wfco_izimodal_default .sections {
    min-height: 140px;
}

.iziModal .iziModal-header.iziModal-noSubtitle {
    padding: 14px 15px 16px 25px;
    animation: unset !important;
    background: #fff !important;
}

.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-header-buttons {
    right: 14px;
}

.swal2-popup .swal2-title {
    line-height: normal;
}

.postbox.wfco_woofunnels_finale {
    background: #fd7e21;
}

.wfco_save_btn_style, .wfco_submit_btn_style, .wfco_update_btn_style {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    -moz-box-shadow: 0 1px 0 #006799;
    -ms-box-shadow: 0 1px 0 #006799;
    -o-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    -webkit-text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    -moz-text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    -ms-text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    -o-text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    min-width: auto;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
}

.wfco_submit_btn_style {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
}

.wfco_save_btn_style:focus, .wfco_save_btn_style:hover, .wfco_save_btn_style:active, .wfco_submit_btn_style:focus, .wfco_submit_btn_style:hover, .wfco_submit_btn_style:active {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

.wfco_save_btn_style:disabled, .wfco_submit_btn_style:disabled, .wfco_update_btn_style:disabled {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    color: #fff;
    -webkit-box-shadow: 0 1px 0 #006799;
    -moz-box-shadow: 0 1px 0 #006799;
    -ms-box-shadow: 0 1px 0 #006799;
    -o-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
}

.wfco_connector_listing_wrap .tablenav {
    margin-bottom: 6px;
}

.wfco_connector_listing * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.wfco-col-group {
    display: block;
    max-width: 1450px;
}

.wfco-col-group:after {
    content: "";
    display: block;
    clear: both;
}

.spinner {
    float: left;
}

span.wfco-help {
    margin-left: .3em;
    position: relative;
    display: inline;

}

span.wfco-help .icon {
    display: inline-block;
    font-size: 16px;
    font-family: 'dashicons';
    font-style: normal;
    color: #666;
    position: absolute;
    top: 0px;
}

span.wfco-help .icon:before {
    content: "\f223";
}

span.wfco-help .helpText {
    background-color: #444;
    bottom: 30px;
    color: #fff;
    display: block;
    left: 0;
    opacity: 0;
    padding: 10px 15px;
    pointer-events: none;
    position: absolute;
    width: 300px;
    transition: all .25s ease-out;
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font-size: 11px;
    line-height: 18px;
    z-index: 10;
}

span.wfco-help .helpText a {
    font-weight: 700;
    text-decoration: underline
}

span.wfco-help .helpText:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%
}

span.wfco-help:hover .helpText {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0)
}

.wfco-form-group .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.wfco-form-group {
    margin-bottom: 1rem;
}

.wfco-form-group .wfco_tags {
    background: #ebebeb;
    color: #8a8a8a;
    line-height: 1.2;
    padding: 4px 6px;
    margin-right: 8px;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    border-radius: 100px;
}

.wfco-form-group label {
    display: inline-block;
    margin-bottom: .5rem;
}

.wfco-form-group select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.wfco-form-group .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.wfco-form-group .form-control_25 {
    display: block;
    width: 100%;
    /*margin-right: 5px;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.wfco-checkbox-inline input[type=checkbox] {
    margin-left: -20px;
    margin-top: 1px \9;
    line-height: normal;
}

.wfco-checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.wfco-form-check {
    margin: 20px 0 25px 0;
}

.wfco-form-group.inline {
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    margin-right: 7px;
}

.wfco-display-none {
    display: none;
}

.wfco-connector-wrap {
    background-color: #fff;
    /*    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.12156862745098039);
    */
    border: 1px solid #ddd !important;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.wfco-ribbon {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
}

.wfco-ribbon::before,
.wfco-ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #609807;
}

.wfco-ribbon span {
    position: absolute;
    display: block;
    width: 138px;
    padding: 4px 0;
    background-color: #71b406;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    color: #fff;
    font: 700 12px/1 'Arial', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-align: center;
}

.wfco-ribbon-top-right {
    top: -10px;
    right: -10px;
}

.wfco-ribbon-top-right::before,
.wfco-ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.wfco-ribbon-top-right::before {
    top: 0;
    left: 0;
}

.wfco-ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.wfco-ribbon-top-right span {
    left: -25px;
    top: 20px;
    transform: rotate(45deg);
}

.wfco-connector-wrap .wfco-connector-img-outer {
    text-align: center;
    max-width: 110px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.11);
    float: left;
}

.wfco-connector-wrap .wfco-connector-img {
    min-height: 90px;
    display: table;
}

.wfco-connector-img .wfco-connector-img-section {
    display: table-cell;
    vertical-align: middle;
}

.wfco-connector-wrap .wfco_img_head {
    color: #9E9E9E;
    font-size: 13px;
    background-color: #FAFAFA;
    text-transform: uppercase;
    line-height: 30px;
}

.wfco-connector-wrap .wfco_connector_info {
    margin-left: 110px;
    padding-left: 20px;
}

.wfco-connector-wrap .wfco_connector_info_head {
    color: #0085BA;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}

.wfco-connector-wrap .wfco_connector_info_details {
    color: #8E8E8E;
    font-size: 15px;
    line-height: 20px;
}

.wfco-connector-wrap .wfco-connector_card_outer {
    padding: 20px 15px;
}

.wfco-connector-wrap .wfco-connector-btns {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background: #f9f9f9;
    text-align: right;
}

.wfco-connector-btns .wfco-connector-delete {
    float: left;
}

.wfco-connector-btns .wfco-connector-sync {
    margin: 0 4px;
}

.wfco-connector-btns .wfco-connector-delete .dashicons {
    background-color: #E2E2E2;
    color: #fff;
    border-radius: 50%;
    margin-top: -1px;
}

.wfco-connector-btns .wfco-connector-delete {
    color: #979797;
    padding: 4px;
}

.wfco-connector-btns .wfco-connector-delete:hover .dashicons {
    background: #f58989;
}

.wfco-connector-btns .wfco-connector-delete:hover {
    color: #f58989;
}

@media (min-width: 992px) {
    .wfco-col-md-1, .wfco-col-md-2, .wfco-col-md-3, .wfco-col-md-4, .wfco-col-md-5, .wfco-col-md-6, .wfco-col-md-7, .wfco-col-md-8, .wfco-col-md-9, .wfco-col-md-10, .wfco-col-md-11, .wfco-col-md-12 {
        float: left;
    }
}

.wfco-row {
    margin-right: -12px;
    margin-left: -12px;
}

.wfco-col-md-1, .wfco-col-md-2, .wfco-col-md-3, .wfco-col-md-4, .wfco-col-md-5, .wfco-col-md-6, .wfco-col-md-7, .wfco-col-md-8, .wfco-col-md-9, .wfco-col-md-10, .wfco-col-md-11, .wfco-col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

@media (min-width: 992px) {
    .wfco-col-md-1, .wfco-col-md-2, .wfco-col-md-3, .wfco-col-md-4, .wfco-col-md-5, .wfco-col-md-6, .wfco-col-md-7, .wfco-col-md-8, .wfco-col-md-9, .wfco-col-md-10, .wfco-col-md-11, .wfco-col-md-12 {
        float: left;
    }

    .wfco-col-md-12 {
        width: 100%;
    }

    .wfco-col-md-11 {
        width: 91.66666667%;
    }

    .wfco-col-md-10 {
        width: 83.33333333%;
    }

    .wfco-col-md-9 {
        width: 75%;
    }

    .wfco-col-md-8 {
        width: 66.66666667%;
    }

    .wfco-col-md-7 {
        width: 58.33333333%;
    }

    .wfco-col-md-6 {
        width: 50%;
    }

    .wfco-col-md-5 {
        width: 41.66666667%;
    }

    .wfco-col-md-4 {
        width: 33.33333333%;
    }

    .wfco-col-md-3 {
        width: 25%;
    }

    .wfco-col-md-2 {
        width: 16.66666667%;
    }

    .wfco-col-md-1 {
        width: 8.33333333%;
    }
}

.wfco-col-md-4:nth-child(3n+1) {
    clear: both;
}

.wfco-col-md-3:nth-child(4n+1) {
    clear: both;
}

.wfco-row:before,
.wfco-row:after {
    display: table;
    content: " ";
}

.wfco-automation-update-message {
    text-align: center;
}

.wfco-connector-img img {
    max-width: 100%;
    max-height: 80px;
    vertical-align: top;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.wfco-connector-action {
    clear: both;
    border-top: 1px solid #dedede;
    display: inline-block;
    width: 100%;
}

.iziModal-content .wfco_text_center {
    text-align: center;
}

.swal2-modal .swal2-styled {
    outline: none;
}

.wfco-connector-btns a.wfco_save_btn_style.wfco_btn_spin {
    opacity: 1 !important;
    position: relative;
    color: rgba(255, 255, 255, .05);
    pointer-events: none !important;
}

.wfco-connector-btns a.wfco_save_btn_style.wfco_btn_spin:after {
    animation: wfco_spin 500ms infinite linear;
    border: 2px solid #fff;
    border-radius: 50%;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;
}

.iziModal {
    box-shadow: none;
    background: #ffffff;
}

.iziModal .iziModal-header {
    box-shadow: none;
    border-bottom: 1px solid #d5d5d5;
    background: #f3f8f9;
}

.iziModal .iziModal-header-title {
    color: #000;
}


.iziModal .iziModal-button-close {
    background: none;
    font-family: Dashicons;
    opacity: 1;
    text-decoration: none;
    border: none;
}

.iziModal .iziModal-button-close:before {
    content: "\f335";
    font-size: 30px;
    color: #000;
    position: relative;
    top: 8px;
}

.iziModal-content .sections {
    padding: 30px;
}

.iziModal .iziModal-loader {
    top: 0 !important;
    z-index: 11;
}

@keyframes wfco_spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
