p.bwfan_user_consent{text-align:left;padding:0}
#wfacp-e-form p.bwfan_user_consent{text-align:left;padding:0}
p.bwfan_user_consent label{font-weight:400;padding:0 0 0 25px;margin:0;position:relative}
#wfacp-e-form p.bwfan_user_consent label{font-weight:400;padding:0 0 0 25px;margin:0;position:relative}
p.bwfan_user_consent label input{position:absolute;left:0;top:2px;padding:0;margin:0}